/* Custom stylesheet */

 h1.legal {
  padding: 50px 0 20px 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5em;
  color: darkseagreen;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  font-weight: bold;
  padding: 24px 0px 6px 0;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  font-weight: bold;
  padding: 24px 0px 6px 0;
}

p.highlight {
  margin-block-end: 20px;
  font-weight: 700;
}

  /* Media Queries MOBILE (only overrides) */
  @media(max-width: 415px) {

    h1.legal {
      left: 10%;
      font-size: 2.3em;
   }

  }