/* Custom stylesheet */

/* Google Font Faces */
@font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/quicksand-variablefont_wght-webfont.woff2") format("woff2"),
         url("../assets/fonts/quicksand-variablefont_wght-webfont.woff") format("woff"),
         url("../assets/fonts/quicksand-variablefont_wght-webfont.otf") format("opentype"),
         url("../assets/fonts/quicksand-variablefont_wght-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Permanent Marker";
    src: url("../assets/fonts/permanentmarker-regular-webfont.woff2") format("woff2"),
         url("../assets/fonts/permanentmarker-regular-webfont.woff") format("woff"),
         url("../assets/fonts/permanentmarker-regular-webfont.otf") format("opentype"),
         url("../assets/fonts/permanentmarker-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rock Salt";
    src: url("../assets/fonts/rocksalt-regular-webfont.woff2") format("woff2"),
         url("../assets/fonts/rocksalt-regular-webfont.woff") format("woff"),
         url("../assets/fonts/rocksalt-regular-webfont.otf") format("opentype"),
         url("../assets/fonts/rocksalt-regular-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Social Icons";
    src: url("src/assets/fonts/fa-icons.woff2") format("woff2"),
         url("src/assets/fonts/fa-icons.woff") format("woff"),
         url("src/assets/fonts/fa-icons.ttf") format("truetype"),;
}

/* Base styling */
*{
  margin:0;
  padding:0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

html, body {
  height: 100%;
  max-height: 900px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 2.5em;
  line-height: 1.5em;
  color: black;
}

h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 1.5em;
  line-height: 1.4em;
  color: black;
}

h3 {
  font-family: 'Rock Salt', cursive;
  font-size: 1.3em;
  line-height: 1.7em;
  color: black;
}

table {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  margin: 0 30px;
}

a {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  text-decoration: underline;
  color: black;
}

ul {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  line-height: 1.7em;
  margin: 0 30px;
  list-style-type: none;
}

.first-line {
  font-style: italic;
  margin: 0 30px 5px 0;
}

li {
  padding-bottom: 10px;
}


/* Header*/
/* Header Background*/
header#home {
  content: '';
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 70vh;
}

div#hero {
  background-color: honeydew;
  position: relative;
  width: 75%;
  height: 80%;
  float: right;
  margin-top: 100px;
  border-bottom: 7px solid;
  border-color: white;
  overflow: hidden;
}

img#tree {
  position: absolute;
  bottom: -15px;
  left: 0;
  max-height: 95%;
  max-width: 100%;
  z-index: 1;
  -webkit-filter: drop-shadow(15px 10px 17px peachpuff); 
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=15, OffY=10, Color='rgb(255, 218, 185)")";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=15, OffY=10, Color='rgb(255, 218, 185)")";
}

/* p#hell {
  display: none;
  font-family: 'Arial Black', sans-serif;
  color: antiquewhite;
  text-align: left;
  font-size: 2em;
  line-height: 1em;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  top: -1%;
  left: 90%;
  width: auto;
  height: auto;
  transform: rotate(90deg);
  transform-origin: left top 0;
}*/

/* Header Marvin*/
h1#itsme {
  line-height: 1.4em;
  text-align: left;
  position: absolute;
  left: 15%;
  top: 60px;
  z-index: 2;
}

/* Header Social*/
div#social {
  position: absolute;
  padding: 0 20px 9px;
  left: 18%;
  top: 500px;
  background-color: lightblue;
  color: white;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  z-index: 2;
  transform-origin: left;
  transform: rotate(-90deg);
}

div#social p {
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow: -2px 2px #5E5E5E;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

div#social a {
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px #5E5E5E;
  display: inline-block;
  font-weight: bold;
  transform: rotate(90deg);
  text-decoration: none;
}

div#social a span {
  display: none;
}

div#social a i {
  color: white;
  display: inline;
  margin-left: 4px;
  position: relative;
}

div#social a#twitter-icon i:hover {
  color: #009AFA;
  text-shadow: 2px 2px white;
}
div#social a#linkedin-icon i:hover {
  color: #0072BB;
  text-shadow: 2px 2px white;
}
div#social a#xing-icon i:hover {
  color: #007E79;
  text-shadow: 2px 2px white;
}

/* Main Section*/
main {
  background-color: white;
  margin: 0 20% 0 25%;
}

main section h2 {
  padding-top: 50px;
  padding-bottom: 20px;
}

main section h3 {
  padding-top: 40px;
  padding-bottom: 20px;
}

span.handwritten {
  font-family: 'Rock Salt', cursive;
  padding: 0px 0px 0px 7px;
  white-space: nowrap;
}

#checkit h2 {
  padding-top: 25px;
  }

#portrait {
  padding-top: 45px; 
  margin: auto;
  display: table;
}

table {
  margin: 0px 30px 0 30px;
  width: 100%;
}

td {
  padding: 0 10px 10px 0;
  vertical-align: top;
}

/* Footer*/
footer {
  margin-top: 50px;
  padding-bottom: 15px;
  border-bottom: peachpuff solid 10px;
  text-align: right;
  font-size: 1em;
}

.footer {
  position: relative;
  width: 100%;
  height: 30px;
  bottom: 0;
  margin-top: 15px;
  background-color: #FFF562;
  text-align: center;
}

footer ul li {
  display: inline;
  list-style: none;
  margin-left: 40px;
}

/*p#copyright {
  text-align: right;
  
  padding: 0 5%;
  margin: 0;
}*/

footer a {
  text-decoration: none;
  font-size: 0.8em;
  line-height: 2.2em;
}

/* Navigation items */

.nav-link {
  padding-top: 40px;
  font-weight: bold;
}

/* Media Queries TABLET width (only overrides) */
@media(max-width: 768px) {

h1#itsme {
  top: 30px;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/* Header */
header {
  background-position: 77%;
}

img#tree {
  -webkit-filter: drop-shadow(10px 8px 14px peachpuff);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=8, rgb(255, 218, 185)";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=10, OffY=8, rgb(255, 218, 185)";
}

div#social {
  top: 404px;
}

div#social img {
  position: absolute;
  top: -7px;
  right: -12px;
  width: 260px;
}

/* Main Section*/
main {
  margin: 0 8% 0 10%;
}


/* Footer*/
p#copyright {
  padding-right: 10%;
}

}

/* Media Queries MOBILE (only overrides) */
@media(max-width: 415px) {

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.5em;
}

/* Header Section*/
header {
  background-position: 64%;
}

div#hero {
  height: 75%;
  width: 74%;
  margin-right: 10px;
}

h1#itsme {
  font-size: 2.3em;
  top: 20px;
  left: 5%;
  padding: 0.2em;
  margin-right: 50px;
}

/* Header Social*/
div#social {
  left: 12%;
  top: 260px;
}

span#connect {
  display: none;
}

div#social a i {
  margin-left: 8px;
  font-size: 19px;
}

p#hell {
  display: block;
}

/* Main Section*/
main section p {
  margin: 0 25px 0 10px;
}

#portrait {
  padding-top: 30px;
}

table {
  margin: 10px 25px 0px 10px;
}

ul {
  margin: 10px 25px 0px 10px;
}

footer ul li {
  margin-left: 10px;
}

}

/* Media Queries MOBILE landscape (only overrides) */
@media(max-height: 415px) {

div#social {
  top: 248px;
}

#connect {
  display: none;
}

img#tree {
  max-height: 115%;
}

main {
  margin-top: 5%;
}

}
