/* Custom stylesheet */

html, body {
    height: 100%;
    width: 100%;
  }

h1.hero {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 20px;
}

p.hero {
  text-align: center;
  margin-top: 0px;
}
